@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html, body {
              cursor: url(https://i.imgur.com/xVVs6bP.png), auto;
    background-color: transparent;
    background-image: url("https://i.imgur.com/r0bQjDO.png");
    background-repeat: no-repeat;
    align-items: center;
    margin: 0px;
}
.player .control-panel .controls {
margin: 46px 168px;
position: absolute;
background-repeat: no-repeat;
}
.player .control-panel .controls .prev,
.player .control-panel .controls .play,
.player .control-panel .controls .next {
    width: 55px;
    height: 55px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 57px;
    margin: 120px 46px;
    background-color: transparent 0, 0;
              cursor: url(https://i.imgur.com/Gsk7sZs.png), auto;
}
.player .control-panel .controls .play {
    background-image: url(https://i.imgur.com/BczxELx.png);
}
.player .control-panel.active .controls .play {
    background-image: url(https://i.imgur.com/mqeIoCi.png);
}
